{% load static %}
<li class="order">
    <img src="{% static 'digital//image/goods/Rectangle 356 (2).png' %}" alt="">
    <div class="info_order">
        <h4 class="product_title">Смартфон Samsung GalaxyA52 White 128Gb</h4>
        <div class="color_quantity">
            <div class="color"><p>Цвет:</p> <span>Белый</span></div>
            <div class="quantity"><p>Кол-во:</p> <span>1</span></div>
        </div>
    </div>
    <p class="product_price">3 864 000 сум</p>
    <div class="data"><img src="{% static 'digital/image/icons/clarity_date-line.svg' %}" alt="">
        <span>03.04.2023</span></div>
</li>